
<app-loading-spinner *ngIf="this.isLoading"></app-loading-spinner>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="!this.isLoading && this.hasHouse">
  <a class="navbar-brand" routerLink="/users/{{ userID }}" routerLinkActive="active" >Shared house</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item" *ngIf="this.hasHouse">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/authorization" routerLinkActive="active">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/{{ userID }}" routerLinkActive="active" *ngIf="this.hasHouse">My profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/news" routerLinkActive="active" *ngIf="this.hasHouse">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/task" routerLinkActive="active" *ngIf="this.hasHouse">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/leaderboard" routerLinkActive="active" *ngIf="this.hasHouse">Leader board</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/users/shopping-list" routerLinkActive="active" *ngIf="this.hasHouse">Shopping list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/availabletask" routerLinkActive="active" *ngIf="this.hasHouse">Reserve tasks</a>
      </li>
      <li class="nav-item nav-loggedIn" *ngIf="isAuthenticated && this.hasHouse">
          <span class="score-name">{{ userScore?.name }}</span>
          <img class="avatar" [src]="userScore?.avatar" alt="Avatar">
          <span class="score-label">Score</span>  
          <span class="score-value">{{ userScore?.score }}</span> 
      </li>
      <button class="btn btn-sm btn-outline-secondary logout__housed" type="button" (click)="onLogout()" *ngIf="isAuthenticated && this.hasHouse">Logout</button>

    </ul>
  </div>
</nav>

<button class="btn btn-sm btn-outline-secondary logout" type="button" (click)="onLogout()" *ngIf="isAuthenticated && !this.hasHouse">Logout</button>
