
<app-loading-spinner *ngIf="this.isLoading"></app-loading-spinner>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="!this.isLoading">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active" >Shared house</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/authorization" routerLinkActive="active">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/{{ userID }}" routerLinkActive="active">My profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/news" routerLinkActive="active">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/task" routerLinkActive="active">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/leaderboard" routerLinkActive="active">Leader board</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/users/shopping-list" routerLinkActive="active">Shopping list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/availabletask" routerLinkActive="active">Reserve tasks</a>
      </li>
      <li class="nav-item nav-loggedIn" *ngIf="isAuthenticated">
          {{ userScore?.name }}
          <img class="avatar" [src]="userScore?.avatar" alt="Avatar">
          <button class="btn btn-sm btn-outline-secondary" type="button" (click)="onLogout()">Logout</button>
          Score {{ userScore?.score }}
      </li>
    </ul>
  </div>
</nav>
