.avatar {
	width: 5rem;
}

.navbar {
	padding: 0;
}

.navbar-brand {
	margin-left: 1rem;
}

.navbar-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.nav-loggedIn {
	margin-left: 1rem;
	padding: 1rem;
	user-select: none;
	background-color: rgba(0, 0, 0, .1);
	color: white;

	.score-label {
		text-transform: uppercase;
		font-weight: 500;
		margin-right: .3rem;
	}

	.score-value {
		font-weight: 900;
		font-size: 1.1rem;
		color: green;
	}

	.score-name {
		letter-spacing: -.04rem;
		font-weight: 200;
		color: rgba(255, 255, 255, .6);
	}
}

.logout {
	position: absolute;
	right: 1rem;
	top: 1rem;

	&__housed {
		margin: 1rem;
	}
}
