.avatar {
	width: 5rem;
}

.navbar-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.nav-loggedIn {
	margin-left: 1rem;
	background-color: white;
	padding: 1rem;
	border-radius: 1rem;
}
