.container {
	background-color: rgba(0, 0, 0, .025);
	padding: 1rem;

	&__cards {
		display: grid;
		align-items: center;
		justify-items: center;
	}
}

h2 {
	text-align: center;
	margin: 2.5rem;
}

input[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;

	&:checked + .avatar-image {
		outline: 3px solid rgb(3, 89, 117);
		background-color: lightblue;
	}
}

.avatars {
	display: flex;
	justify-content: space-evenly;
	margin: 2.5rem 0;
}

.avatar-image {
	cursor: pointer;
	width: 10rem;
	padding: 1rem;
}

.card {
	margin-top: 2rem;
}

.alert {
	margin: 1rem;
}

.vertical-line {
	border-left: 1px dashed rgba(0, 0, 0, .35);
	margin: 0 2rem;
}

.createHouse {
	margin-left: .3rem;
}
