
<app-loading-spinner *ngIf="this.isLoading"></app-loading-spinner>
<hr>
<div class="alert alert-success" *ngIf="message">{{ message }}</div>
<div class="container" *ngIf="!this.isLoading">
    <div class="row">
        <div class="col-xs-12">
    
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">

                <div class="row">
                    <div class="form-group">
                        <label for="item">Item</label>
                        <input 
                            type="text"
                            id="item"
                            class="form-control"
                            ngModel
                            required
                            name="item"
                            maxlength="40">
                    </div>
    
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input 
                            type="number"
                            id="amount"
                            class="form-control"
                            name="amount"
                            ngModel
                            required
                            min="0"
                            [pattern]="'^[1-9]+[0-9]*$'">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" type="submit" [disabled]="!form.valid">Add</button>
                    </div>
                </div>
    
            </form>

            <div class="row">
                    <h3>Shopping list</h3>
                    
                    <ul class="list-group" >
                        <div class="row titles">
                            <li class="list-group-item col-6 ">Item name</li>
                            <li class="list-group-item col-2">Item amount</li>
                        </div>
                        <div class="row" *ngIf="!shoppingList || !shoppingList.length">
                            <li class="list-group-item col-8">Currently there is no item in your shopping list.</li>
                        </div>
                        <div class="row" *ngFor="let item of shoppingList; let i = index">
                            <li class="list-group-item col-6">{{ item.name }}</li>
                            <li class="list-group-item col-2">{{ item.amount }}</li>
                            <button type="button" class="btn btn-success action" (click)="onBuy(i)">Buy</button>
                            <button type="button" class="btn btn-danger action" (click)="onRemove(i)">X</button>
                        </div>
                    </ul>
            </div>

            <div class="row">
                    <h3>Purchases</h3>
                    
                    <ul class="list-group" >
                        <div class="row titles">
                            <li class="list-group-item col-3">Member</li>
                            <li class="list-group-item col-4">Item</li>
                            <li class="list-group-item col-2">Amount</li>
                            <li class="list-group-item col-2">Date</li>
                        </div>
                        <div class="row" *ngIf="!purchases.length">
                            <li class="list-group-item col-11">Currently there is no item in your purchases list.</li>
                        </div>
                        <div *ngFor="let purchase of purchases;">
                            <div class="row" *ngFor="let item of purchase.items">
                                <li class="list-group-item col-3">{{ purchase.userID.forename }} {{ purchase.userID.surname }}</li>
                                <li class="list-group-item col-4">{{ item.name }}</li>
                                <li class="list-group-item col-2">{{ item.amount }}</li>
                                <li class="list-group-item col-2">{{ item.date.slice(0,10) }}</li>
                            </div>
                        </div>
                    </ul>
            </div>
    
        </div>
    </div>
</div>
