

<div class="container col-xl-5 col-lg-6 col-md-8">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12">
            <form #form="ngForm" (ngSubmit)="form.form.valid && onSubmit(form)" [appPasswordMatch]="['password', 'confirmPassword']">
                <div class="form-group">
                  
                  <div class="input-group mb-2">
                      <div class="input-group-prepend">
                          <div class="input-group-text">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                            </svg>
                          </div>
                      </div>
                      <input 
                        type="email" 
                        id="email" 
                        class="form-control"
                        ngModel
                        #email="ngModel"
                        name="email"
                        placeholder="Email address"
                        required
                        email>
                      <label for="email" class="email-label">Email address</label>
                  </div>
                  
                  <span class="alert alert-danger" *ngIf="email.invalid && email.touched">Email address must be provided.</span>
                  <span class="alert alert-success" *ngIf="email.valid">Email address is correct.</span>
                </div>
    
                <div class="form-group">
                  
                  <div class="input-group mb-2">
                      <div class="input-group-prepend">
                          <div class="input-group-text">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                              </svg>
                          </div>
                      </div>
                      <input 
                        [type]="display ? 'text' : 'password'" 
                        id="password"
                        class="form-control"
                        ngModel
                        name="password"
                        #password="ngModel"
                        maxlength="20"
                        required
                        placeholder="Password"
                        appPasswordValidation>
                      <label for="password" class="password-label">Password</label>
                      <div class="input-group-append">
                        <span class="input-group-text">{{password.value ? password.value.length : 0}} / 20</span>
                      </div>
                  </div>

                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="switch" (click)="ToggleDisplayPassword()">
                    <label class="custom-control-label" for="switch" >Show password</label>
                  </div>

                  <span class="alert alert-danger" *ngIf="password.touched && password.errors?.required">Password must be provided.</span>
                  
                  <div class="progress" style="height: 15px;"  *ngIf="password.errors?.strength || password.valid">
                    <div 
                        class="progress-bar progress-bar-striped" 
                        [class]="password.errors?.strength === null ? 'bg-success' : password.errors?.strength.currentColor"
                        role="progressbar" 
                        [style.width.%]="password.errors?.strength === null ? 100 : password.errors?.strength.currentValue" 
                        aria-valuenow="password.errors?.strength === null ? 100 : password.errors?.strength.currentValue" 
                        aria-valuemin="0" 
                        aria-valuemax="100"> {{ password.errors?.strength === null ? 100 : password.errors?.strength.currentValue }}% </div>
                  </div>
                  
                  <span class="password-errors" *ngIf="password.errors?.strength || password.valid">
                      <div class="password-errors__password-error">Password must contain at least one lowercase character
                          <span class="alert alert-success alert-success__right" *ngIf="password.errors?.strength.lowercase || password.errors?.strength === null">&#10003;</span>
                          <span class="alert alert-danger alert-danger__wrong" *ngIf="!password.errors?.strength.lowercase && password.errors?.strength !== null">!</span>
                      </div>
                      <div class="password-errors__password-error">Password must contain at least one uppercase character
                          <span class="alert alert-success alert-success__right" *ngIf="password.errors?.strength.uppercase || password.errors?.strength === null">&#10003;</span>
                          <span class="alert alert-danger alert-danger__wrong" *ngIf="!password.errors?.strength.uppercase && password.errors?.strength !== null">!</span>
                      </div>
                      <div class="password-errors__password-error">Password must contain at least one digit character
                          <span class="alert alert-success alert-success__right" *ngIf="password.errors?.strength.digit || password.errors?.strength === null">&#10003;</span>
                          <span class="alert alert-danger alert-danger__wrong" *ngIf="!password.errors?.strength.digit && password.errors?.strength !== null">!</span>
                      </div>
                      <div class="password-errors__password-error">Password must contain at least one special character
                          <span class="alert alert-success alert-success__right" *ngIf="password.errors?.strength.special || password.errors?.strength === null">&#10003;</span>
                          <span class="alert alert-danger alert-danger__wrong" *ngIf="!password.errors?.strength.special && password.errors?.strength !== null">!</span>
                      </div>
                      <div class="password-errors__password-error">Password must contain at least eight characters
                          <span class="alert alert-success alert-success__right" *ngIf="password.errors?.strength.minlength || password.errors?.strength === null">&#10003;</span>
                          <span class="alert alert-danger alert-danger__wrong" *ngIf="!password.errors?.strength.minlength && password.errors?.strength !== null">!</span>
                      </div>
                  </span>
    
                  <span class="alert alert-success" *ngIf="password.valid">
                    You entered a strong password.
                  </span>
                </div>

                <div class="form-group">
                  
                  <div class="input-group mb-2">
                      <div class="input-group-prepend">
                          <div class="input-group-text">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                              </svg>
                          </div>
                      </div>
                      <input 
                        [type]="display ? 'text' : 'password'"
                        id="confirmPassword"
                        class="form-control"
                        ngModel
                        name="confirmPassword"
                        #confirmPassword="ngModel"
                        maxlength="20"
                        required
                        placeholder="Confirm Password">
                      <label for="confirmPassword" class="password-label">Confirm Password</label>
                      <div class="input-group-append">
                        <span class="input-group-text">{{confirmPassword.value ? confirmPassword.value.length : 0}} / 20</span>
                      </div>
                  </div>

                  <span class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">Confirm Password must be provided.</span>
                  <span class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.errors?.passwordMismatch">Passwords must match.</span>

                </div>
    
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>

