@import "~bootstrap/scss/bootstrap-grid.scss";

input.ng-invalid.ng-touched {
	border-top: 1px solid rgba(255, 0, 0, .5);
	border-bottom: 1px solid rgba(255, 0, 0, .5);
}

input.ng-valid.ng-touched {
	border-top: 1px solid rgba(0, 255, 0, .5);
	border-bottom: 1px solid rgba(0, 255, 0, .5);
}

input[type=email],
input[type=text],
input[type=password] {
	position: relative;
	&:focus {
		outline: none;
		box-shadow: none;
	}

	&:placeholder-shown ~ label {
		opacity: 0;
		transform: translateY(10px);
	}

	&:not(:placeholder-shown) ~ label {
		opacity: 1;
		transform: translateY(0);
	}
}

.input-group-text {
	background-color: #53585e;
	color: white;

	svg {
		fill: white;
	}
}

.form-group {
	.email-label,
	.password-label {
		position: absolute;
		top: -30%;
		left: 10%;
		font-size: .9rem;
		z-index: 10;
		background-color: #fff;
		padding: 0 .3rem;
		transition: all .2s ease;
	}
}

.container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: .3rem .3rem 1rem #343a40;
	border: 3px solid rgba(255, 255, 255, .3);

	@include media-breakpoint-up(xs) {
		position: relative;
		width: 100%;
		height: 100%;
		transform: none;
		top: 0;
		left: 0;
	}

	&__wrapper {
		width: 100vw;
		height: 100vh;
		background: linear-gradient(to top, #16222a, #3a6073);
	}

	.row {
		margin-top: 3rem;
		margin-bottom: 1rem;
		margin-left: .3rem;
		margin-right: .3rem;
		border-radius: .3rem;
		padding: 1rem;
		padding-top: 5rem;
		background-color: #fff;
		border: 1px solid #343a40;
		position: relative;

		@include media-breakpoint-up(xs) {
			padding-right: 0;
			padding-left: 0;
			margin-left: 0;
			margin-right: 0;
		}
	}
}

h2 {
	padding-top: 2rem;
	text-align: center;
	color: white;
	text-transform: uppercase;

	@include media-breakpoint-up(xs) {
		font-size: 1rem;
	}
}

p {
	color: rgba(255, 255, 255, .6);
	padding-bottom: .5rem;
	text-align: center;

	@include media-breakpoint-up(xs) {
		font-size: .7rem;
	}
}

.alert {
	padding: .2rem;
	font-size: .9rem;
}

.checked {
	svg {
		width: 1.5rem;
		height: 1.5rem;
		fill: green;
	}
}

.unchecked {
	svg {
		width: 1.5rem;
		height: 1.5rem;
		fill: red;
	}
}

.progress {
	margin: 1rem 0;
}

.password-errors {
	&__password-error {
		font-size: 0.9rem;
		margin-bottom: .5rem;
	}
}

.custom-switch {
	margin-bottom: 1rem;
}

button[type=submit],
button[type=button] {
	outline: none;
	box-shadow: none;
	border: 0;
	transition: all .5s ease;
	margin-right: .5rem;
}

.login {
	background-color: #343a40;
}

.house-logo {
	position: absolute;
	top: -3rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: #343a40;
	border-radius: 50%;
	padding: .9rem;

	svg {
		width: 4rem;
		height: 4rem;
		fill: white;
		border: 1px solid white;
		padding: 0.6rem;
		border-radius: 50%;
	}
}
