input.ng-invalid.ng-touched {
	border-top: 1px solid rgba(255, 0, 0, .5);
	border-bottom: 1px solid rgba(255, 0, 0, .5);
}

input.ng-valid.ng-touched {
	border-top: 1px solid rgba(0, 255, 0, .5);
	border-bottom: 1px solid rgba(0, 255, 0, .5);
}

input[type=email],
input[type=text],
input[type=password] {
	position: relative;
	&:focus {
		outline: none;
		box-shadow: none;
	}

	&:placeholder-shown ~ label {
		opacity: 0;
		transform: translateY(10px);
	}

	&:not(:placeholder-shown) ~ label {
		opacity: 1;
		transform: translateY(0);
	}
}

.form-group {
	.email-label,
	.password-label {
		position: absolute;
		top: -30%;
		left: 10%;
		font-size: .9rem;
		z-index: 10;
		background-color: #fff;
		padding: 0 .3rem;
		transition: all .2s ease;
	}
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 1px 1px 4px #343a40;

	.row {
		padding: 1rem;
		padding-top: 2rem;
		background-color: #fff;
		border: 1px solid #343a40;
	}
}

h2 {
	padding-top: 2rem;
	text-align: center;
	color: white;
}

h6 {
	color: rgba(255, 255, 255, .6);
	padding-bottom: .5rem;
	text-align: center;
}

.alert {
	padding: .2rem;
	font-size: .9rem;

	&-danger {
		&__wrong {
			padding: 0 .4rem;
		}

		&__right {
			padding: .2rem 0;
		}

		&__avatar {
			width: 50%;
			margin: 0 auto;
			text-align: center;
		}
	}
}

.progress {
	margin: 1rem 0;
}

.password-errors {
	&__password-error {
		font-size: 0.9rem;
		margin-bottom: .5rem;
	}
}

.custom-switch {
	margin-bottom: 1rem;
}

button[type=submit],
button[type=button] {
	outline: none;
	box-shadow: none;
	border: 0;
	transition: all .5s ease;
	margin-right: .5rem;
}

.login {
	background-color: #343a40;
}
