.container {
	background-color: rgba(0, 0, 0, .025);
	margin: 1.5rem auto;
}

form {
	margin: 1rem 2rem;
	width: 100%;
}

.news {
	&__wrapper {
		&--title {
			background-color: rgba(0, 0, 0, .1);
			padding: 2rem;
			margin-top: 1rem;
			font-size: 1.2rem;
		}

		&--message {
			background-color: rgba(0, 0, 0, .055);
			padding: 1.5rem;
			margin-bottom: .5rem;
			color: rgba(0, 0, 0, .75);
		}

		&--member {
			font-weight: 500;
		}

		&--date {
			font-size: .9rem;
			color: rgba(0, 0, 0, .55);
			float: right;
		}
	}
}

.comments {
	&__wrapper {
		margin: 1rem 0;

		&--comment {
			margin: 1rem;

			&-image {
				width: 5rem;
			}

			&-name {
				padding: 0.5rem;
				text-transform: uppercase;
				position: relative;
			}

			&-date {
				position: absolute;
				font-size: 0.9rem;
				right: 1rem;
				top: 50%;
				transform: translateY(-50%);
			}

			&-message {
				color: rgba(0, 0, 0, .75);
				padding: 1rem;
				box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
				background-color: white;
				position: relative;
			}
		}
	}
}

.textarea {
	margin: 1rem;
	margin-left: -.5rem;
}

.send {
	margin-left: -.5rem;
}

.remove_comment {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
}
