

<div class="container">
    <div class="row">

            <form  (ngSubmit)="onSubmit(form)" #form="ngForm">

                <div class="form-group col">
                    <label for="title">Title</label>
                    <input 
                        type="text"
                        id="title"
                        class="form-control"
                        ngModel
                        required
                        name="title"
                        placeholder="News title"
                        maxlength="40">
                </div>
            
                <div class="form-group col">
                    <label for="message">Message</label>
                    <textarea 
                        class="form-control" 
                        id="message" 
                        rows="3" 
                        required
                        ngModel
                        name="message"
                        placeholder="Your message ..."
                        minlength="20"></textarea>
                </div>

                <div class="form-group col">
                    <div class="col-xs-12">
                        <button class="btn btn-success" type="submit" [disabled]="!form.valid">Add</button>
                    </div>
                </div>
    
            </form>
        </div>
</div>

<hr>

<div class="container" *ngFor="let new of news">
    <div class="row">
        
        <div class="col news__wrapper">
            <div class="news__wrapper--title">{{ new.title }}</div>
            <div class="news__wrapper--message">
                {{ new.message }}
            </div>
            <span class="news__wrapper--member">{{ new.userID.forename }} {{ new.userID.surname }}</span>
            <span class="news__wrapper--date">{{ new.date.slice(0,10) }}</span>
            <hr>

            <h4>Comments ({{ new.comments.length }})</h4>

            <div class="col comments__wrapper">
                <form  (ngSubmit)="onSubmitComment(commentForm, new._id)" #commentForm="ngForm">
                    <div class="form-group">
                        <div class="row col">
                            <textarea 
                                class="form-control textarea" 
                                rows="3" 
                                required
                                ngModel
                                name="message"
                                placeholder="Type your message ..."
                                minlength="5"></textarea>
                            <button type="submit" class="btn btn-success send" [disabled]="!commentForm.valid">Send</button>
                        </div>
                    </div>
                </form>

                <div class="comments__wrapper--comment" *ngFor="let comment of new.comments">
                    <div class="comments__wrapper--comment-name">
                        <img [src]="comment.userID.avatar" alt="Avatar" class="comments__wrapper--comment-image">
                        {{ comment.userID.forename }} {{ comment.userID.surname }}
                        <span class="comments__wrapper--comment-date">{{ comment.date.slice(0, 10) }}</span>
                    </div>
                    <div class="comments__wrapper--comment-message">{{ comment.message }}
                        <button class="btn btn-danger remove_comment" (click)="onRemoveComment(comment._id)" *ngIf="comment.userID._id === userID">X</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>

