@import "~bootstrap/scss/bootstrap-grid.scss";

.container {
	margin: 1.5rem;

	@include media-breakpoint-down(xs) {
		margin: 1.5rem .4rem;
		font-size: .7rem;
	}

	.btn {
		@include media-breakpoint-down(xs) {
			font-size: .7rem;
		}
	}
}

.list-group-item + .list-group-item {
	border-top-width: 1px;
}

.list-group {
	width: 100vw;
	margin: 1rem;
}

.action {
	margin: .1rem;
}

.titles {
	li {
		background-color: #343a40;
		color: white;

		&:not(:last-child) {
			border-right: 1px solid white;
		}
	}
}
