

<div class="container">
    <div class="row">
        <div class="col-xs-12">
    
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">

                <div class="row">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                            type="text"
                            id="name"
                            class="form-control"
                            ngModel
                            required
                            name="name"
                            maxlength="40">
                    </div>
    
                    <div class="form-group">
                        <label for="level">Level</label>
                        <input 
                            type="number"
                            id="level"
                            class="form-control"
                            name="level"
                            ngModel
                            required
                            min="1"
                            max="3"
                            [pattern]="'^[1-9]+[0-9]*$'">
                    </div>

                    <div class="form-group">
                        <label for="frequency">Frequency</label>
                        <input 
                            type="number"
                            id="frequency"
                            class="form-control"
                            name="frequency"
                            ngModel
                            required
                            min="1"
                            max="3"
                            [pattern]="'^[1-9]+[0-9]*$'">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" type="submit" [disabled]="!form.valid">Add</button>
                    </div>
                </div>
    
            </form>

            
            <div class="row">
                <div class="col-xs-12">

                    <ul class="list-group">
                        <div class="row">
                            <li class="list-group-item col-6">Task name</li>
                            <li class="list-group-item col-3">Task level</li>
                            <li class="list-group-item col-2">Task frequency</li>
                        </div>
                        <div class="row" *ngFor="let task of tasks">
                            <li class="list-group-item col-6">{{ task.name }}</li>
                            <li class="list-group-item col-3">{{ task.level }}</li>
                            <li class="list-group-item col-2">{{ task.frequency }}</li>
                        </div>
                    </ul>

                </div>
            </div>
            
    
        </div>
    </div>
</div>