@import "~bootstrap/scss/bootstrap-grid.scss";

.container {
	margin-top: 5rem;

	@include media-breakpoint-down(xs) {
		font-size: .6rem;
	}
}

@include media-breakpoint-down(xs) {
	table {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}
}
